In [2]:
from rfm_deployment.query_comercios_V2 import *
import cx_Oracle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
import datetime
import cairo
import gi
gi.require_version('Gtk', '3.0')
from gi.repository import Gtk

%matplotlib inline

In [2]:
pd.set_option('display.max_columns', 500)
#pd.set_option('display.max_rows', 500)

In [3]:
con = cx_Oracle.connect('MMONTERO_DIS/Data1234@//cluster-dwhAIX-scan:1521/dwh_app_service', encoding = 'utf8')
#Acceso al data Warehouse @DWTNPROD_AIX.WORLD desde fuera de Naranja

In [4]:
cur = con.cursor() #creo un cursor

In [5]:
inicio = datetime.date(2020, 2, 25)
fin = datetime.date(2019, 3, 25)
months = -1

In [ ]:
fecha_final = add_months(inicio, -2)
contador = 1

while fecha_final >= fin :
    
    fi_int = datetime_to_integer(inicio)
    ff_int = datetime_to_integer(fecha_final)
    fecha_init = inicio.strftime('%d/%m/%Y')
    fecha_end = add_months(fecha_final, months).strftime('%d/%m/%Y')
    print(f'Ciclo--{contador}:')
    print(f'La fecha de inicio es: {inicio}. La fecha final es: {fecha_end}.' )
    label_seg = 'CA'
    query = f_query(fi_int, ff_int, fecha_init, fecha_end, label_seg)
    fecha_out = str(ff_int)
    fecha_in = str(fi_int)
    df = consulta_DW(query, cur, fecha_in, fecha_out, label_seg)
    print('=================================================================================================')

    inicio = add_months(inicio, months)
    fecha_final = add_months(fecha_final, months)
    contador += 1

In [4]:
df = pd.read_parquet('CA-20190525--20190325.parquet')

In [6]:
df.head(10)

          CUIT  RECENCIA  FRECUENCIA      MONTO
0  30715301926         1         552  442620.81
1  30531887596         1         251  196485.38
2  23208683284         1          55   53312.00
3  27368462190         1         103  118000.00
4  30709315923         1         251  116495.49
5  20202382143         1          57   89059.00
6  20109165086         1          32   69530.00
7  27176692745         1          70  115822.00
8  27059760772         7          24   30550.00
9  30711665540         7          43   44177.00